/* Variables */

:root {
  --main-red: #C73B0F;
  --main-green: #1EA575;
  --main-black: #000000;
  --main-white: #FFFFFF;
  --rose-900: #260F08;
  --rose-500: #87635A;
  --rose-400: #AD8A85;
  --rose-300: #CAAFA7;
  --rose-100: #F5EEEC;
  --rose-50: #FCF8F6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Red Hat Text', serif;
}

main {
  padding: 2.4rem;
  background-color: var(--rose-50);
}

h1 {
  margin-bottom: 3.2rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--rose-900);
}

/* Product Item */

.product-item {
  width: 32.7rem;
  height: 31.9rem;
}

.product-item img {
  object-fit: contain;
  width: 100%;
  border-radius: 0.8rem;
}

.product-item .category {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-500);
}

.product-item h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-900);
}

.product-item .price {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--main-red);
}

/* Cart */

.cart {
  height: 29.9rem;
  padding: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: var(--main-white);
  border-radius: 12px;
}

.cart h2 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--main-red);
}

.cart figure {
  height: 100%;
  justify-self: center;
  justify-items: center;
}

.cart figure figcaption {
  font: 1.4rem;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0;
  color: var(--rose-500);
}