/* Variables */

:root {
  --main-red: #C73B0F;
  --main-green: #1EA575;
  --main-black: #000000;
  --main-white: #FFFFFF;
  --rose-900: #260F08;
  --rose-500: #87635A;
  --rose-400: #AD8A85;
  --rose-300: #CAAFA7;
  --rose-100: #F5EEEC;
  --rose-50: #FCF8F6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Red Hat Text', serif;
}

main {
  padding: 2.4rem;
  background-color: var(--rose-50);
}

h1 {
  margin-bottom: 3.2rem;
  font-size: 4rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--rose-900);
}

.items-container {
  justify-items: center;
}

/* Product Item */

.product-item {
  width: 100%;
  min-height: 31.9rem;
  margin-bottom: 2.4rem;
}

.product-item img {
  object-fit: contain;
  width: 100%;
  border-radius: 0.8rem;
}

.product-item .category {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-500);
}

.product-item h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-900);
}

.product-item .price {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--main-red);
}

/* Product Item Button */

.active-button {
  position: relative;
  top: -2.2rem;
  left: calc(50% - 8rem);
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  height: 4.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--main-white);
  background-color: var(--main-red);
  border: none;
  border-radius: 999rem;
}

.active-button button {
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  outline: none;
  border: 2px solid var(--main-white);
  border-radius: 50%;
  cursor: pointer;
}

.minus {
  background-image: url('../assets/images/icon-decrement-quantity.svg');
}

.plus {
  background-image: url('../assets/images/icon-increment-quantity.svg');
}

/* Cart */

.cart {
  padding: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: var(--main-white);
  border-radius: 12px;
}

.cart h2 {
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--main-red);
}

.cart figure {
  height: 100%;
  justify-self: center;
  justify-items: center;
}

.cart figure figcaption {
  font: 1.4rem;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0;
  color: var(--rose-500);
}

/* Cart Item */

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--rose-100);
  list-style: none;
}

.cart-item h3 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-900);
}

.cart-item__number-container {
  display: flex;
}

.cart-item__number-container p {
  margin-right: 0.8rem;
}

.cart-item__quantity {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--main-red);
}

.cart-item__price {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-500);
}

.cart-item__total-price {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--rose-500);
}

.cart-item button {
  width: 1.8rem;
  height: 1.8rem;
  background-color: transparent;
  background-image: url('../assets/images/icon-remove-item.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--rose-400);
  border-radius: 50%;
}